Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
a ="Data science"

In [3]:
a

'Data science'

In [4]:
l=[1,2,3,"python",33.44,False]

In [5]:
l

[1, 2, 3, 'python', 33.44, False]

In [6]:
b=12.44

In [7]:
b

12.44

In [8]:
c=('Abhishek',123,True)

In [9]:
c

('Abhishek', 123, True)

In [10]:
type(c)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [11]:
var1=''

In [12]:
type(var1)

str

In [16]:
var2= '[ DS , ML , Python]'

In [17]:
type(var2)

str

In [18]:
var3=['DS','ML','Python']

In [19]:
type(var3)

list

In [21]:
var4=1.

In [22]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [27]:
1/2 #for divisio

0.5

In [28]:
5%2 #for remander

1

In [29]:
9//2 #for quotient

4

In [1]:
2**5 #for power/expo

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [3]:
l=[1,2,3,23.45,"i love india",'pwskill',True,47.90,False]
for A in l:
    print(A)

1
2
3
23.45
i love india
pwskill
True
47.9
False

In [4]:
for A in l:
    print(type(A))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
A=int(input("Enter the value of A"))
B=int(input("Enter the value of B"))
count=0
while A%B==0:
    count+=1
    A/=B
    if count > 0:
        print("A is divisable by B, and it can be divided",count,"times.")
    else:
        print("A is not divisalbe by B")

Enter the value of A 64
Enter the value of B 2

A is divisable by B, and it can be divided 1 times.
A is divisable by B, and it can be divided 2 times.
A is divisable by B, and it can be divided 3 times.
A is divisable by B, and it can be divided 4 times.
A is divisable by B, and it can be divided 5 times.
A is divisable by B, and it can be divided 6 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
numbers = [ 1,2,3,4,5,6,7,8,9,12,13,14,15,17,19,18,23,27,28,30,50,55,56,66,68]

for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
17 is not divisible by 3
19 is not divisible by 3
18 is divisible by 3
23 is not divisible by 3
27 is divisible by 3
28 is not divisible by 3
30 is divisible by 3
50 is not divisible by 3
55 is not divisible by 3
56 is not divisible by 3
66 is divisible by 3
68 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans--7 : A data type is said to be mutable if it can be modified or changed after it is created, while an immutable data type cannot be modified once it is created.
Examples of immutable data types are:
int, float, bool, str, tuple, and frozenset. Once created, their values cannot be modified.
Examples of mutable data types are:
list, dict, and set. They can be modified after creation

In [7]:
a = 10   # int
b = 3.14   # float
c = True   # bool
d = "hello"   # str
e = (1, 2, 3)   # tuple
f = frozenset([1, 2, 3])   # frozenset

In [ ]:
# Examples of mutable data types
my_list = [1, 2, 3, 4]   # list
my_dict = {'a': 1, 'b': 2}   # dict
my_set = {1, 2, 3}   # set

# Modifying a mutable object is allowed
my_list[0] = 5   # [5, 2, 3, 4]
my_dict['c'] = 3   # {'a': 1, 'b': 2, 'c': 3}
my_set.add(4)   # {1, 2, 3, 4}